body {
	background-color: #FFF;
}
#general {
	width: 980px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
#encabezado {
	float: left;
	height: 100px;
	width: 980px;
	background-color:#FFF;
}
#logotipo {
	float: left;
	height: 100px;
	width: 175px;
}
#gruposinlimites {
	float: right;
	height: 87px;/*100px*/
	width: 280px;
	padding-top: 13px;
	position: relative;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(imagenes/encabezado_fondo.gif);
}
#gruposinlimites s1 {
	color: #8c8c8c;
	font-size: 18px;
	margin-right: 20px;
}
#gruposinlimites s2 {
	color: #3f3f3f;
	font-size: 14px;
	margin-right: 20px;
}
#submenu {
	float: left;
	height: 30px;
	width: 980px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom: 1px solid #C00;
}
#general2 {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#slide {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	height: 350px;
	width: 980px;
}
#escalon1_1 {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	/*padding-top: 10px;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	font-weight: bold;
	color: #FFF;
	height: 205px;/*205px*/
	width: 200px;
	background-image:url(imagenes/secciones/home/cuadros/cuadro_1.jpg);
}
#botonesc1_1 {
	float: left;
	height: 43px;
	width: 59px;
	margin-top: 5px;
}
#escalon1_2 {
	margin-top: 10px;
	margin-left: 15px;
	float: left;
	height: 125px;/*200px, se compensa por el padding superior de 80px*/
	width: 200px;
	padding-top: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	background-image: url(imagenes/secciones/home/cuadros/cuadro_2.jpg);
	background-repeat: no-repeat;
}
#escalon1_3 {
	margin-top: 10px;
	margin-left: 15px;
	padding-top: 10px;
	float: left;
	height: 195px;/*205*/
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	background-image: url(imagenes/secciones/home/cuadros/cuadro_3.jpg);
	background-repeat: no-repeat;
}
#escalon1_4 {
	margin-top: 10px;
	margin-left: 15px;
	float: left;
	height: 205px;
	width: 315px;
}
#escalon2_1 {
	margin-top: 15px;
	float: left;
	height: 165px;
	width: 164px;
}
#escalon2_2 {
	margin-top: 15px;
	float: left;
	height: 165px;
	width: 163px;
}
#escalon2_3 {
	margin-top: 15px;
	float: left;
	height: 165px;
	width: 163px;
}
#escalon2_4 {
	margin-top: 15px;
	float: left;
	height: 165px;
	width: 163px;
}
#escalon2_5 {
	margin-top: 15px;
	float: left;
	height: 165px;
	width: 163px;
}
#escalon2_6 {
	margin-top: 15px;
	float: left;
	height: 165px;
	width: 164px;
}
#privacidad {
	float: left;
	height: 30px;/*40px*/
	width: 980px;
	margin-top: 10px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #9f0c12;
}
#general3 {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#filosofiatexto {
	margin-top: 50px;
	float: left;
	height: auto;
	width: 515px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-size: 13px;
	color: #3f3f3f;
}
#filosofiatexto t1 {
	font-size: 35px;
	color: #af0101;
	font-weight: bold;
}
#filosofiatexto t2 {
	font-size: 13px;
	color: #ed1c24;
	font-weight: bold;
}
#filosofiafotos {
	margin-top: 50px;
	padding-top: 35px;
	float: right;
	height: auto;
	width: 465px;
}
#objetivo {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	height: 160px;
	width: 980px;
	background-image: url(imagenes/secciones/filosofia/caja_de_texto.png);
	background-repeat: no-repeat;
}
#objetivotitulo {
	float: left;
	width: 160px;
	height: 130px;/*160px*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: bold;
	color: #FFF;
	padding-top: 30px;
}
#objetivotexto {
	float: left;
	width: 730px;/*820px*/
	height: 130px;/*160px*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
	color: #FFF;
	padding-right: 70px;
	padding-top: 30px;
	padding-left: 20px;
}
#avisopriv {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#general4 {
	/*float: left;*/
	height: auto;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
#subgeneral4 {
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#serviciostexto {
	margin-top: 50px;
	float: left;
	height: auto;
	width: 515px;/*610px*/
	background-image: url(imagenes/secciones/servicios/sin_titulo_1.jpg);
	background-repeat: no-repeat;
	padding-left: 95px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #1f1f1f;
}
#serviciostexto t1{
	font-size: 21px;
	color: #af0101;
	font-weight: bold;
}
#serviciostexto t2{
	font-size: 13px;
	color: #ed1c24;
	font-weight: bold;
}
#serviciosfoto1 {
	margin-top: 50px;
	float: right;
	height: auto;
	width: 350px;
	text-align: right;
}
#serviciosfoto2 {
	float: left;
	height: auto;
	width: 980px;
	text-align: right;
}
#portafolio {
/*	margin-top: 15px;
	margin-bottom: 15px;*/
	float: left;
	width: 100%;
	height: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#juridico {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#textodearea {
	margin-top: 50px;
	float: left;
	height: auto;
	width: 980px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #ed1c24;
	text-align: left;
}
.columna1 {
	margin-top: 25px;
	margin-bottom: 5px;
	float: left;
	height: auto;
	width: 472px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3f3f3f;
	text-align: justify;
	box-shadow: -3px 3px 3px #888888;
}
.columna2 {
	margin-top: 25px;
	margin-bottom: 5px;
	float: right;
	height: auto;
	width: 472px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3f3f3f;
	text-align: justify;
	box-shadow: -3px 3px 3px #888888;
}
/*inician bloques de servicios juridicos*/

.gestoria {
width: 472px;
height: 314px;
background-image: url(imagenes/secciones/juridico/gestoria.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.gestoria a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.gestoria a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.gestoria a span {
display: none;
width: 400px;
padding: 50px;
margin-left:-10px;
}
.gestoria a:hover span {
display: block;
}


.defensa {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/juridico/defensa.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:15px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.defensa a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.defensa a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.defensa a span {
display: none;
width: 420px;
padding: 20px;
margin-left: 12px
}
.defensa a:hover span {
display: block;
}

.contratos {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/juridico/contratos.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:0 20px 15px 0;
}
.contratos a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.contratos a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.contratos a span {
display: none;
width: 400px;
padding: 60px;
margin-left: -20px ;
}
.contratos a:hover span {
display: block;
}

.consultoria {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/juridico/consultoria.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:0 0 15px 0;
}
.consultoria a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.consultoria a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.consultoria a span {
display: none;
width: 420px;
padding: 90px;
margin-left: -60px
}
.consultoria a:hover span {
display: block;
}

.juicios {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/juridico/juicios.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:0 20px 15px 0;
}
.juicios a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.juicios a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.juicios a span {
display: none;
width: 400px;
padding: 60px;
margin-left: -20px ;
}
.juicios a:hover span {
display: block;
}

.creacion_empresas {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/juridico/creacion_y_desarrollo_de_empresas.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:0 0 15px 0;
}
.creacion_empresas a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.creacion_empresas a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.creacion_empresas a span {
display: none;
width: 420px;
padding:70px;
margin-left: -40px
}
.creacion_empresas a:hover span {
display: block;
}

/*Terminan los bloques de servicios juridicos*/

/*Inician bloques de servicios de riesgos*/

.administracion_riesgos {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/administracion_de_riesgos/administracion_de_riesgos.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:13px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.administracion_riesgos a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.administracion_riesgos a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.administracion_riesgos a span {
display: none;
width: 400px;
padding: 40px;
margin-left: -5px;
}
.administracion_riesgos a:hover span {
display: block;
}


.elaboracion_manuales_riesgos {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/administracion_de_riesgos/elaboracion_de_manuales.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:13px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.elaboracion_manuales_riesgos a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.elaboracion_manuales_riesgos a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.elaboracion_manuales_riesgos a span {
display: none;
width: 420px;
padding: 30px;
margin-left: -7px
}
.elaboracion_manuales_riesgos a:hover span {
display: block;
}

.desarrollo_proyectos {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/administracion_de_riesgos/desarrollo_de_proyectos.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.desarrollo_proyectos a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.desarrollo_proyectos a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.desarrollo_proyectos a span {
display: none;
width: 400px;
padding:80px;
margin-left: -45px;
}
.desarrollo_proyectos a:hover span {
display: block;
}

.estadistica {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/administracion_de_riesgos/estadistica.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.estadistica a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.estadistica a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.estadistica a span {
display: none;
width: 420px;
padding: 80px;
margin-left: -55px
}
.estadistica a:hover span {
display: block;
}

.politicas_prevencion {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/administracion_de_riesgos/politicas_de_prevencion.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:15px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.politicas_prevencion a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.politicas_prevencion a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.politicas_prevencion a span {
display: none;
width: 400px;
padding:50px;
margin-left: -20px;
}
.politicas_prevencion a:hover span {
display: block;
}
/*terminan bloques de servicios de riesgos*/

/*Inician bloques de servicios de contable fiscal*/
.planeacion_fiscal {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/contable_fiscal/planeacion_fiscal.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.planeacion_fiscal a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.planeacion_fiscal a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.planeacion_fiscal a span {
display: none;
width: 400px;
padding: 50px;
margin-left:-15px;
}
.planeacion_fiscal a:hover span {
display: block;
}


.realizacion_tramites {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/contable_fiscal/realizacion_de_tramites.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.realizacion_tramites a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.realizacion_tramites a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.realizacion_tramites a span {
display: none;
width: 420px;
padding: 40px;
margin-left: -10px
}
.realizacion_tramites a:hover span {
display: block;
}

.contabilidad {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/contable_fiscal/contabilidad.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.contabilidad a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.contabilidad a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.contabilidad a span {
display: none;
width: 400px;
padding: 100px;
margin-left:-65px;
}
.contabilidad a:hover span {
display: block;
}

.presentacion_fiscal {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/contable_fiscal/presentacion_de_declaracion_fiscal.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.presentacion_fiscal a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.presentacion_fiscal a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.presentacion_fiscal a span {
display: none;
width: 420px;
padding: 100px;
margin-left: -78px
}
.presentacion_fiscal a:hover span {
display: block;
}

.actualizaciones {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/contable_fiscal/actualizaciones.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.actualizaciones a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.actualizaciones a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.actualizaciones a span {
display: none;
width: 400px;
padding: 100px;
margin-left:-65px;
}
.actualizaciones a:hover span {
display: block;
}

/*Terminan bloques de servicios de contable fiscal*/

/*Inicia bloque de servicios de sistemas computacionales*/
.soporte_tecnico {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/sistemas_computacionales/soporte_tecnico.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.soporte_tecnico a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.soporte_tecnico a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.soporte_tecnico a span {
display: none;
width: 400px;
padding: 35px;
margin-left:1px;
}
.soporte_tecnico a:hover span {
display: block;
}


.configuracion_servidores {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/sistemas_computacionales/configuracion_de_servidores.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.configuracion_servidores a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.configuracion_servidores a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.configuracion_servidores a span {
display: none;
width: 420px;
padding: 70px;
margin-left: -40px
}
.configuracion_servidores a:hover span {
display: block;
}

.servidores_web {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/sistemas_computacionales/configuracion_de_servidores_web.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.servidores_web a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.servidores_web a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.servidores_web a span {
display: none;
width: 400px;
padding: 60px;
margin-left: -19px;
}
.servidores_web a:hover span {
display: block;
}


.instalacion_camaras {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/sistemas_computacionales/instalacion_de_camaras.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.instalacion_camaras a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.instalacion_camaras a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.instalacion_camaras a span {
display: none;
width: 420px;
padding: 100px;
margin-left: -70px
}
.instalacion_camaras a:hover span {
display: block;
}

.aplicaciones_web {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/sistemas_computacionales/aplicaciones_web_y_de_escritorio.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.aplicaciones_web a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.aplicaciones_web a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.aplicaciones_web a span {
display: none;
width: 400px;
padding: 110px;
margin-left: -75px;
}
.aplicaciones_web a:hover span {
display: block;
}

/*termina bloque de sericios de sistemas computacionales*/

/*empieza bloque de servicios de diseño*/

.identidad {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/diseno/identidad_corporativa.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.identidad a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.identidad a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.identidad a span {
display: none;
width: 400px;
padding: 40px;
margin-left:auto;
}
.identidad a:hover span {
display: block;
}


.articulos {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/diseno/articulos_promocionales.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.articulos a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.articulos a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.articulos a span {
display: none;
width: 420px;
padding: 60px;
margin-left: -35px;
}
.articulos a:hover span {
display: block;
}

.toma_fotos {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/diseno/toma_y_edicion_de_fotografias.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.toma_fotos a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.toma_fotos a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.toma_fotos a span {
display: none;
width: 400px;
padding: 50px;
margin-left: -10px;
}
.toma_fotos a:hover span {
display: block;
}

.diseño_editorial {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/diseno/diseno_editorial.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.diseño_editorial a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.diseño_editorial a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.diseño_editorial a span {
display: none;
width: 420px;
padding: 70px;
margin-left: -40px;
}
.diseño_editorial a:hover span {
display: block;
}

.diseno_web {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/diseno/diseno_web.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.diseno_web a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.diseno_web a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.diseno_web a span {
display: none;
width: 400px;
padding: 60px;
margin-left: -30px;
}
.diseno_web a:hover span {
display: block;
}

.presentaciones_ejecutivas {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/diseno/presentaciones_ejecutivas.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.presentaciones_ejecutivas a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.presentaciones_ejecutivas a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.presentaciones_ejecutivas a span {
display: none;
width: 420px;
padding: 60px;
margin-left: -30px;
}
.presentaciones_ejecutivas a:hover span {
display: block;
}

.manual_senalizacion {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/diseno/manual_de_senalizacion.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.manual_senalizacion a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.manual_senalizacion a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.manual_senalizacion a span {
display: none;
width: 400px;
padding: 60px;
margin-left: -25px;
}
.manual_senalizacion a:hover span {
display: block;
}

/*termina bloque de servicios de diseño*/

/*iNICIA bloques de servicios de RH*/

.seleccion_personal {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/capital_humano/seleccion_de_personal.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.seleccion_personal a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.seleccion_personal a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.seleccion_personal a span {
display: none;
width: 400px;
padding: 40px;
margin-left:auto;
}
.seleccion_personal a:hover span {
display: block;
}


.capacitacion_desarrollo {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/capital_humano/capacitacion_y_desarrollo.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.capacitacion_desarrollo a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.capacitacion_desarrollo a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.capacitacion_desarrollo a span {
display: none;
width: 420px;
padding: 60px;
margin-left: -35px;
}
.capacitacion_desarrollo a:hover span {
display: block;
}

.estructura_organizacional {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/capital_humano/estructura_organizacional.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.estructura_organizacional a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.estructura_organizacional a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.estructura_organizacional a span {
display: none;
width: 420px;
padding: 60px;
margin-left: -35px;
}
.estructura_organizacional a:hover span {
display: block;
}

.elaboracion_manuales {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/capital_humano/elaboracion_de_manuales.jpg);
background-position: top;
text-align:justify;
box-shadow: 3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 0 15px 0;
}
.elaboracion_manuales a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.elaboracion_manuales a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.elaboracion_manuales a span {
display: none;
width: 420px;
padding: 60px;
margin-left: -35px;
}
.elaboracion_manuales a:hover span {
display: block;
}

.administracion_nominas {
width: 472px;
height: 314px;
background-image:url(imagenes/secciones/capital_humano/administracion_de_nominas.jpg);
background-position: top;
text-align:justify;
box-shadow: -3px 3px 3px #888888;
font:16px normal Arial, Helvetica, sans-serif;
line-height:18px;
float:left;
margin:15px 20px 15px 0;
}
.administracion_nominas a {
color: #fff;
width: 472px;
height: 314px;
display: block;
text-decoration: none;
}
.administracion_nominas a:hover {
background:#900;
opacity:.95;
filter:alpha(opacity=95);
}
.administracion_nominas a span {
display: none;
width: 420px;
padding: 60px;
margin-left: -30px;
}
.administracion_nominas a:hover span {
display: block;
}

/*termina bloques de servicios de RH*/

#riesgos {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#contable {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#sistemas {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#diseno {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}

#chumano {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#chumanotexto {
	margin-top: 20px;
	float: left;
	height: auto;
	width: 980px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #ed1c24;
	text-align: left;
}
.chumanotexto2 {
	margin-top: 30px;
	float: left;
	height: auto;
	width: 980px;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #3f3f3f;
}
.cursos {
	margin-top: 10px;
	float: left;
	height: 300px;
	width: 980px;
	box-shadow: -3px 3px 3px #888888;
}
.cursostextoizq {
	width: 350px;
	height: 220px;
	float: left;
	margin-top: 30px;
	margin-left: 15px;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
}
.cursostextoder {
	width: 350px;
	height: 220px;
	float: right;
	margin-top: 30px;
	margin-right: 15px;
	text-align:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
}
#clientes {
	/*float: left;*/
	height: auto;
	width: 980px;
	margin-top: 50px;
	margin: 0 auto;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-size: 13px;
	color: #3f3f3f;
}
#textodeclientes {
	margin-top: 50px;
	margin-bottom: 15px;
	float: left;
	height: auto;
	width: 900px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #af0101;
	text-align: left;
}
#textodeclientes p1{
	font-size: 13px;
	color: #3f3f3f;
	text-align: justify;
	font-weight: normal;
}
#mapa {
	float: left;
	height: auto;
	width: 900px;
	padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	color: #FFF;
	background-image: url(imagenes/secciones/clientes/barra_superior.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}
#contacto {
	height: auto;
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#contactotexto {
	float: left;
	height: auto;
	width: auto;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: justify;
	color: #3f3f3f;
}
#contactotexto t1{
	font-size: 30px;
	color: #af0101;
	font-weight: bold;
}
#contactotexto p1{
	color: #ed1c24;
}
#contactocroquis {
	float: right;
	height: auto;
	width: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}
#pie {
	float: left;
	height: 100px;
	width: 100%;
	background-color:#ea1c26;
}
#datospie {
	height: 90px;/*100px*/
	width: 980px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
}